@font-face {
    font-family: 'Sunairola';
    src: url('../fonts/Sunairola-KVwvl.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sunairola', sans-serif;
}


body {
    display: grid;
    background: gray;
    min-height: 100dvh;
    padding: 5rem;
    view-transition-name: main-content;
}

@media (prefers-color-scheme: light) {
    body {
        color: lightgray;
    }
}

main {
    place-self: center;
    font-size: 14rem;
    font-variant-numeric: tabular-nums; /* not-working sadge  */
    text-align: center;
}

@keyframes fade-out-white {
    to { background-color: white; opacity: 0; }
}

@keyframes fade-in-black {
    from { background-color: black; opacity: 0; }
}

::view-transition-old(main-content) {
    animation: fade-out-white 1s linear 1s forwards;
}

::view-transition-new(main-content) {
    animation: fade-in-black 1s linear forwards;
}

.normal > * {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
}

button {
    cursor: pointer;
    color: gray;
}

img {
    width: 30rem;
    animation: img-bounce .6s ease-in-out infinite alternate;
    filter: drop-shadow(0px 0px 6px white);
}

@keyframes img-bounce {
    50% {
        transform: scale(1.02);
    }
}
